body {
	font-family: Tahoma, Arial, Verdana; font-size: 11px;
}

td {
	FONT-SIZE: 13px; COLOR: #000080; FONT-FAMILY: Times New Roman;
}

th {
	font-family: Times New Roman;
}
.Tbl
{
BORDER-BOTTOM: #fff 1px solid #CCCCCC; BORDER-LEFT: #000 1px solid #CCCCCC; BORDER-RIGHT: #000 1px solid #CCCCCC; BORDER-TOP: #000 1px solid #CCCCCC;
}
.TdBottom
{
border-bottom:#000 1px solid #CCCCCC; border-right:#000 1px solid #CCCCCC;
}
.tdall
{
border-bottom:#000 1px solid #CCCCCC;
}
.tdend
{
border-right:#000 1px solid #CCCCCC;
}