.cssDateText
{
    COLOR: #d53f0d;
    FONT-FAMILY: 'Times New Roman';
    FONT-SIZE: 10pt
}
.cssBodyText1
{
    COLOR: #ffffff;
    FONT-FAMILY: "Times New Roman";
    FONT-SIZE: 12px
; font-style: normal; font-weight: bold
}
.cssBodyText
{
    COLOR: #ffffff;
    FONT-FAMILY: "Times New Roman";
    FONT-SIZE: 14px
; font-style: normal; font-weight: bold
}
.cssMsgOK
{
    COLOR: blue;
    FONT-FAMILY: 'Times New Roman';
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
.cssMsgError
{
    COLOR: red;
    FONT-FAMILY: 'Times New Roman';
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
.cssTDHeader
{
    BACKGROUND-COLOR: #0000ff;
    COLOR: #ff0000;
    FONT-FAMILY: Arial;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bolder
}
.cssInputText
{
    COLOR: #0033cc;
    FONT-FAMILY: "Times New Roman";
    FONT-SIZE: 12pt
}
.cssInputBtn
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 12px; font-style: normal; font-weight: bold; color: #6600FF
}
.cssTDTextLabel
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: normal
; font-style: normal
}
A.cssANormal
{
    COLOR: blue
}
.cssTableLayout
{
    BORDER-BOTTOM: #0182dd 2px solid;
    BORDER-LEFT: #0182dd 2px solid;
    BORDER-RIGHT: #0182dd 2px solid;
    BORDER-TOP: #0182dd 2px solid
}
.cssTDText
{
    COLOR: #ffffff;
    FONT-FAMILY: "Times New Roman";
    FONT-SIZE: 14px;
    FONT-STYLE: oblique;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold
}
.cssTopicText
{
    BACKGROUND-COLOR: #0182dd;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
A.cssATopic
{
    COLOR: white
}
.cssNewsContent
{
    COLOR: #003366;
    FONT-FAMILY: 'Times New Roman';
    FONT-SIZE: 12pt
}
.cssNewsTitle
{
    COLOR: #000080;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.cssNewsAbs
{
    COLOR: navy;
    FONT-FAMILY: Arial, 'Times New Roman';
    FONT-SIZE: 10pt
}
.cssSearchHeader
{
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.cssSearchResult
{
    COLOR: blue;
    FONT-FAMILY: 'Times New Roman';
    FONT-SIZE: 12pt
}
.cssNewsUnicode
{
    COLOR: #0033FF;
    FONT-FAMILY: "Times New Roman";
    FONT-SIZE: 12pt
}
.cssNewsTCVN3
{
    COLOR: #0033cc;
    FONT-FAMILY: .VnTime;
    FONT-SIZE: 12pt
}
.cssListText
{
    COLOR: #3366FF;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11px;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: capitalize
}
.cssTopicTittle {  font-size: 14px; font-style: normal; font-weight: bolder; font-variant: normal; color: #00FF00; background-color: #0000FF}
.cssTextBlink {  font-size: 12px; font-style: oblique; font-weight: bolder; color: #00FF00; text-decoration: blink}
.cssCommentText {  font-size: 12px; font-style: italic; line-height: normal; font-weight: normal; color: #0033FF}
.cssButton {  }
.cssTopicText1 {  font-size: 17px; background-color: #0182dd; color: #FFFFFF; font-weight: bolder}
.cssTextDemo {  font-size: xx-large; font-style: oblique; line-height: normal; font-weight: normal}
