 H1 {color:darkblue; font-family:Arial;}
 H2 {color:indianred; font-family:Arial;}

.thuxem {color:purple; font-family:Arial;}

P.thu {color:hotpink; font-family:Arial;}

DIV.vutdi
{color: chocolate;
 font-family: "Times New Roman";
 font-size: 16px;
 font-style:normal;
 font-weight: bold
}

.slant
{color: hotpink;
 font-family: "Times New Roman";
 font-size: 16pt;
 font-style:italic;
 font-weight: bold
}