<htlm>
<head>
<title>Learning Javascript</title>
</head>
<body>
<form name="frm1">
<p>
a = 
<input type="text" name="txt1" value="5" with="10">
<br>
b = 
<input type="text" name="txt2" value="15" with="10">
<br>
a+b = 
<input type="text" name="txt3" value="" with="10">
<p>
<input type="button" onClick='calSum();' value="View result"/>
</form>
<script>
function calSum()
 {x=frm1.txt1.value;
  y=frm1.txt2.value;
  k=parseInt(x);
  h=parseInt(y);
  r=k+h;
  frm1.txt3.value=r;
  s = x+" + "+y+" = "+r;
  window.alert(s);
 }
</script>
</body>
</html>
